.DS_Store
.idea
.gradle
grafana.db
*.bak
build

jmxterm.jar

docker-compose-kompose.yml

kind-config.yaml

k8s/.old

/tmp
/clusters/connect/plugins/*
/clusters/connect/data/*

/clusters/sasl/secrets/*.jks
/clusters/sasl/secrets/*.key
/clusters/sasl/certificates/secrets/*
